{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans le Tree Challenge !{% endblock %}

{% block body %}
<header>
    <div class="container">

        <div class="banner-information">
            <div class="row ">
                <div class="col-12 col-md-4 d-flex justify-content-center">
                    <img src="{{ asset('dist/img/bg_treechallenge_logo.png') }}" alt="image du challenge" class="challenge-image">
                </div>
                <div class="col-12 col-md-8">
                    <h1 class="display-4">Tree Challenge</h1>
                    <p class="lead text-justify">Tree challenge est une compétition de plantation d’arbres
                        organisée par l'association VAADD et ses partenaires. Le challenge est ouvert aux
                        écoles, les jeunes, les femmes, les collectivités locales etc. Il consistera tout
                        simplement à planter au moins 5 arbres pendant la période allant du 1er au 30 juin 2019.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </header>

<main>
    <div class="container">
        <div class="row">
            {% for plant in plants %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="gallery-item" tabindex="0" style="height:300px;">
                    <a data-toggle="modal" data-target="#plant-{{ plant.id }}">
                        <img src="{{ asset('dist/images/plant/' ~ plant.getImage1()) }}"
                            class="gallery-image" alt="">
                        <div class="gallery-item-info">
                            <ul>
                                <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                        class="fas fa-heart" aria-hidden="true"></i> {{ plant.nbLikes }}</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>

            <div class="modal fade" id="plant-{{ plant.id }}" tabindex="-1" role="dialog"
                aria-labelledby="plant-{{ plant.id }}Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="plant-{{ plant.id }}Label">

                                Posté par {{ plant.user.firstname }}
                                {% if plant.user.organization %}({{ plant.user.organization }}){% endif %}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex justify-content-center">
                                <div class="d-lg-inline-flex">
                                    <div class="modal-images text-center" tabindex="0">
                                        <img src="{{ asset('dist/images/plant/' ~ plant.getImage1()) }}"
                                            class="gallery-image" alt="">
                                    </div>
                                    <!--<div class="modal-images text-center" tabindex="0">
                                        <img src="{# asset('dist/images/plant/' ~ plant.getImage2()) #}"
                                            class="gallery-image" alt="">
                                    </div>-->
                                </div>
                            </div>
                            <div>
                                <div class="modal-image-information">

                                    {% if (app.user and is_granted('ROLE_ADMIN') ) or (app.user and plant.user.id == app.user.id) %}
                                        <form method="post" action="{{ path('plant_delete', {'id': plant.id}) }}"
                                            onsubmit="return confirm('Êtes-vous sûrs de vouloir supprimer cette image ?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token"
                                            value="{{ csrf_token('delete' ~ plant.id) }}">
                                            <button type="submit" class="text-center btn btn-danger btn-lg">Supprimer la photo</button>
                                        </form>
                                    {% endif %}
                                    <div class="row mb-4">
                                        <div class="col-2 col-lg-2 d-flex justify-content-end">
                                            <a href="{{ path('plant_like', { id : plant.id })}}" class="icon-likes">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </div>{{ plant.nbLikes }} likes
                                        <div class="col-10 col-lg-4 d-flex align-items-end justify-content-end">
                                            <img src="{{ asset('dist/img/calendar.svg') }}" alt="Date de plantation"
                                                class="icon-plantation">
                                            <span>{{ plant.createdAt1 ? plant.createdAt1|date('d-m-Y') : '' }}</span>
                                        </div>
                                        <!--<div class="col-12 col-lg-5 pr-lg-5 d-flex align-items-end justify-content-end">
                                            <img src="{# asset('dist/img/calendar.svg') #}" alt="Date de plantation"
                                                class="icon-plantation">
                                                    <span>{# plant.createdAt2 ? plant.createdAt2|date('d-m-Y') : '' #}</span>
                                        </div>-->
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-6 d-flex align-items-end justify-content-end">
                                            <img src="{{ asset('dist/img/pin.svg') }}" alt="Lieu de plantation" class="icon-plantation">
                                            <span>{{ plant.region }}, {{ plant.prefecture }}, {{ plant.locality }}</span>
                                        </div>
                                        <div class="col-12 col-lg-5 pr-lg-5 d-flex align-items-end justify-content-end">
                                            <img src="{{ asset('dist/img/tree.svg') }}" alt="Nombre d'arbres plantés"
                                                class="icon-plantation">
                                            <span>{{ plant.nbPlants }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        <!-- End of gallery -->
        {# <div class="loader"></div> #}
    </div>


</main>

<div class="container mt-3">

    <hr>

    <div class="row">
        <div class="col-md-3">
                    <img src="{{ asset('dist/img/logo-webassoc.png') }}" alt="Logo de Webassoc"
                            height="50">
        </div>
        <div class="col-md-9">
            Site réalisé avec l'aide de <a href="https://www.webassoc.org">Webassoc</a>
            par <a href="https://www.linkedin.com/in/tomsihap/">Thomas Sihapanya</a>,
            <a href="https://www.linkedin.com/in/c-chapeau/">Caroline Chapeau</a>,
            <a href="https://www.linkedin.com/in/eric-valette/">Éric Valette</a> et
            <a href="https://www.linkedin.com/in/barth%C3%A9lemy-courty/">Barthélémy Courty</a>
            with <span class="text-danger"><i class="fa fa-heart" aria-hidden="true"></i></span>
        </div>
    </div>

</div>

{% endblock %}
